<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>兴趣点推荐</title>
      <link rel="stylesheet" href="../static/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../static/assets/css/index-style.css" type="text/css">

      <link rel="stylesheet" href="../static/assets/css/preview.css" type="text/css" />
    <script type="text/javascript" src="../static/assets/js/echarts.min.js"></script>
      <script type="text/javascript" src="../static/assets/js/jquery-3.3.1.min.js"></script>
     <script type="text/javascript" src="../static/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/assets/js/index.js"></script>
    <script type="text/javascript" src="../static/assets/js/rem.js"></script>
{#      <script type="text/javascript">#}
{#        $(function () {#}
{##}
{#            function ones() {#}
{##}
{#                // 请求获取数据#}
{#                $.ajax({#}
{#                    url: 'localhost:8000/upload_f',#}
{#                    type: "GET",#}
{#                    dataType: "json",#}
{#                    data: result,#}
{#                    success: function (result) { //成功操作#}
{#                        res = result;#}
{#                        console.log(res);#}
{#                        var tab = $("#table1")[0];#}
{#                        tab = tab.childNodes[1]; //tbody标签#}
{##}
{#                     //   console.log(tab)#}
{#                        for (var i = 0; i < res.length; i++) {#}
{#                            //循环添加#}
{#                            if (i < res.length) { //前面接收数据#}
{#                                var tr = $("<tr>"); //创建tr标签#}
{#                                var td1 = $("<td>"); //创建td标签#}
{#                                td1.text(res[i].sentence);#}
{#                                var td2 = $("<td>"); //创建td标签#}
{#                                td2.text(res[i].result);#}
{#                                tr.append(td1);#}
{#                                tr.append(td2);#}
{#                                tab.append(tr[0]);#}
{#                            }#}
{#                        }#}
{#                    },#}
{#                    error: function () {#}
{#                        console.log("请求失败！！")#}
{#                    }#}
{##}
{#                });#}
{##}
{#            };#}
{#            ones();#}
{##}
{#        })#}
{#    </script>#}
  </head>
  <body background="../static/assets/images/videos/bk.jpeg"  style="background-repeat:no-repeat; background-size:100%;">

        <nav class="navbar fixed-top navbar-expand-sm navbartransparent" style="background-color: #8f98a8">

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'main_index' %}" style="color: white">Index<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'map' %}" style="color: white">Display on OpenStreets map<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sightings' %}" style="color: white">Lists all squirrel sightings<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sightings_add' %}" style="color: black; font-weight: bold">Create a new sighting<span class="sr-only"></span></a>
            </li>
                </li>
                <li class="nav-item active">
                <a class="nav-link" href="{% url 'sightings_stats' %}" style="color: white">General stats about the sightings<span class="sr-only"></span></a>
            </li>
            </ul>
        </div>
    </nav>

<div class="first-preview" style="overflow-x:scroll;">
    <form method="post" action="/upload_t" enctype="multipart/form-data">
        <table id="table" >
            <tr>
                <td style="height: 7vh">Latitude</td>
                <td style="height: 7vh"><input type="text" name="Latitude"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Longitude</td>
                <td style="height: 7vh"><input type="text" name="Longitude"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Unique Squirrel ID</td>
                <td style="height: 7vh"><input type="text" name="Unique Squirrel ID"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Shift</td>
                <td style="height: 7vh"><input type="text" name="Shift"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Date</td>
                <td style="height: 7vh"><input type="text" name="Date"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Age</td>
                <td style="height: 7vh"><input type="text" name="Age"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Primary Fur Color</td>
                <td style="height: 7vh"><input type="text" name="Primary Fur Color"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Location</td>
                <td style="height: 7vh"><input type="text" name="Location"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Specific Location</td>
                <td style="height: 7vh"><input type="text" name="Specific Location"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Running</td>
                <td style="height: 7vh"><input type="text" name="Running"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Chasing</td>
                <td style="height: 7vh"><input type="text" name="Chasing"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Climbing</td>
                <td style="height: 7vh"><input type="text" name="Climbing"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Eating</td>
                <td style="height: 7vh"><input type="text" name="Eating"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Foraging</td>
                <td style="height: 7vh"><input type="text" name="Foraging"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Other Activities</td>
                <td style="height: 7vh"><input type="text" name="Other Activities"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Kuks</td>
                <td style="height: 7vh"><input type="text" name="Kuks"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Quaas</td>
                <td style="height: 7vh"><input type="text" name="Quaas"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Moans</td>
                <td style="height: 7vh"><input type="text" name="Moans"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Tail flags</td>
                <td style="height: 7vh"><input type="text" name="Tail flags"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Tail twitches</td>
                <td style="height: 7vh"><input type="text" name="Tail twitches"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Approaches</td>
                <td style="height: 7vh"><input type="text" name="Approaches"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Indifferent</td>
                <td style="height: 7vh"><input type="text" name="Indifferent"/></td>
            </tr>
            <tr>
                <td style="height: 7vh">Runs from</td>
                <td style="height: 7vh"><input type="text" name="Runs from"/></td>
           <input type="submit" value="add" id="add">



        </table>
    </form>

    </div>


  </body>

</html>