/*.navbar > a{*/
    /*color: #000000;*/
    /*font-size: 40px;*/
    /*font-family: 'Trebuchet MS'*/
/*}*/

/*.navbar-nav > li > a{*/
    /*color: #000000;*/
    /*font-size: 15px;*/
    /*font-family: 'Trebuchet MS'*/
/*}*/

body {
    padding-top: 70px;
    height: 50%;
  }

#pie{
    margin-top: 50px;
}

#new_line{
    margin-top: 20px;
    height: 400px;
    width: 100%;
}