table{
    position: absolute;
    top: 5%;
    width: 98%;
    height: 50%;
    border-collapse: collapse;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    text-align:center;
    align-items: center;
}
table td{
    width: 80px;
    height: 30px;
    border: 1px solid black;
     align-items: center;

}
